name: build

on:
  workflow_call:
    inputs:
      push:
        description: "Push built image"
        default: true
        required: false
        type: boolean

defaults:
  run:
    shell: bash

jobs:
  setup:
    runs-on: ubuntu-slim
    timeout-minutes: 5
    outputs:
      names: ${{ steps.names.outputs.names }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - id: names
        run: echo "names=$(find . -maxdepth 1 -type f -name '*.dockerfile' -printf '%P\n' | sort | jq -cnR '[inputs | sub("\\.[^.]+?$"; "")]')" | tee "$GITHUB_OUTPUT"

  image:
    needs: setup
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        name: ${{ fromJSON(needs.setup.outputs.names) }}

    timeout-minutes: 15
    env:
      IMAGE: ghcr.io/${{ github.repository }}/${{ matrix.name }}

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - id: docker_meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.IMAGE }}

      - id: docker_build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          file: ${{ matrix.name }}.dockerfile
          pull: true
          push: ${{ inputs.push }}
          outputs: type=oci,dest=${{ runner.temp }}/image.tar
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
          annotations: ${{ steps.docker_meta.outputs.annotations }}
          cache-from: |
            ${{ steps.docker_meta.outputs.tags }}
            ${{ env.IMAGE }}:${{ github.event.repository.default_branch }}
          cache-to: type=inline

      - id: podman_pull
        run: podman load -i "$RUNNER_TEMP/image.tar"

      - id: gnome-session-wayland
        name: Test gnome-session-wayland
        run: test/test-wayland.sh "$IMAGE_ID"
        env:
          IMAGE_ID: ${{ fromJSON(steps.docker_build.outputs.metadata)['image.name'] }}@${{ steps.docker_build.outputs.digest }}

      - id: has-x11
        name: Check if X11 is available
        run: |
          cli_arg="$(podman run --rm "$IMAGE_ID" gnome-shell --help | grep -qF -- '--x11' && podman run --rm "$IMAGE_ID" sh -c 'command -V Xvfb >/dev/null' && echo 1 || echo 0)"
          echo "cli_arg=$cli_arg" | tee "$GITHUB_OUTPUT"
        env:
          IMAGE_ID: ${{ fromJSON(steps.docker_build.outputs.metadata)['image.name'] }}@${{ steps.docker_build.outputs.digest }}

      - id: gnome-session-x11
        name: Test gnome-session-x11
        run: test/test-x11.sh "$IMAGE_ID"
        if: fromJSON(steps.has-x11.outputs.cli_arg)
        env:
          IMAGE_ID: ${{ fromJSON(steps.docker_build.outputs.metadata)['image.name'] }}@${{ steps.docker_build.outputs.digest }}

      - name: Upload screenshot
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.name }}-screenshots
          path: test/*.png
        if: always() && steps.podman_pull.outcome == 'success'
