name: cleanup

on:
  workflow_call:
    inputs:
      dry-run:
        description: "Don't delete images, just print messages"
        default: false
        required: false
        type: boolean

defaults:
  run:
    shell: bash

jobs:
  setup:
    runs-on: ubuntu-24.04
    timeout-minutes: 5
    outputs:
      images: ${{ steps.images.outputs.names }}
      keep-tags: ${{ steps.keep-tags.outputs.tags }}

    env:
      GH_TOKEN: ${{ github.token }}
      GH_REPO: ${{ github.repository }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          fetch-depth: 0

      - id: images
        run: echo "names=$(find . -maxdepth 1 -type f -name '*.dockerfile' -printf '%P\n' | sort | jq -cnR '[inputs | sub("\\.[^.]+?$"; "")]')" | tee "$GITHUB_OUTPUT"

      - id: keep-tags
        run: >-
          {
            echo "tags<<*EOF*";
            {
              git for-each-ref --format='%(refname:strip=3)' refs/remotes;
              git for-each-ref --format='%(refname:strip=2)' refs/tags;
              gh pr list --template '{{range .}}pr-{{.number}}{{"\n"}}{{end}}' --json number;
            } | sed -E 's/[^a-zA-Z0-9._-]+/-/g';
            echo "*EOF*";
          } | tee "$GITHUB_OUTPUT"

  image:
    needs: setup
    runs-on: ubuntu-24.04
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJSON(needs.setup.outputs.images) }}
        include:
          - image: fedora-40
          - image: debian-12
          - image: ubuntu-24.10
          - image: ubuntu-22.04
          - image: fedora-39
          - image: centos-stream9
          - image: alpine-3.18
          - image: alpine-3.19

    steps:
      - uses: amezin/container-registry-prune-action@35bcd5aa1a0c3a76318c058682cb6be9dc231754 # v0.2.1
        with:
          name: ${{ github.event.repository.name }}/${{ matrix.image }}
          tag-patterns: |
            latest
            +([0-9]).+([0-9]).+([0-9]).+([0-9])
            ${{ github.event.repository.default_branch }}
            ${{ needs.setup.outputs.keep-tags }}
          matching-tags-retention-duration: 1y
          mismatching-tags-retention-duration: 1d
          untagged-retention-duration: 1d
          dry-run: ${{ inputs.dry-run }}
